ul.nav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */

    }

th,td{

    text-align: center;
    border: 1px solid;
    
    }


table{

    border-collapse:collapse;

    }

.border {

    border: 5px solid #555;

    }

.centre{

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }